<app-menu></app-menu>

<div class="body">

<div class="move-btn"></div>
  <button type="button" class="btn btn-primary" (click)="open(content)">
    Add Student
  </button>

  <br/>
  <br/>


  
  <ng-template #content let-modal>
    <form [formGroup]="myForm" (ngSubmit)="submitForm(); clicked = true;">
  
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Student Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

  
            <div class="input-group mb-4">
              <div class="input-group-prepend">
  
              </div>
              <input type="text" class="form-control" placeholder="Student Name" formControlName="name">
  
              
  
            </div>
            <div class="row">
            <div class="input-group mb-4">
              <input  type="date" class="form-control" placeholder="Course Description" formControlName="dob"/>
  
            </div>


          <div class="input-group mb-4">
            <select  formControlName="gender" class="form-control" >
              <option value="" disabled selected hidden>Gender...</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              </select>
            </div>
            <div class="input-group mb-4">
              <select  formControlName="grade" class="form-control" >
                <option value="" disabled selected hidden>Grade...</option>
                <!-- <option value="10">Grade 10</option>
                <option value="11">Grade 11</option>
                <option value="12">Grade 12</option> -->
                <option *ngFor="let grade of grades" [value]="grade.Name">{{grade.Name}}</option>

                </select>
              </div>
            <div class="input-group mb-4">
                <select  formControlName="schoolCode" class="form-control" >
                  <option value="" disabled selected hidden>School Code...</option>
                  <!-- <option value="SKH">SKH</option>
                  <option value="PH">PH</option> -->
                  <option *ngFor="let code of codes" [value]="code.Code">{{code.Code}}</option>

                  </select>
                </div>
                <div class="input-group mb-4">
                    <select  formControlName="schoolName" class="form-control" >
                      <option value="" disabled selected hidden>School Name...</option>
                      <!-- <option value="Sky High">Skye High</option>
                      <option value="Park High">Park High</option> -->
                      <option *ngFor="let name of names" [value]="name.Name">{{name.Name}}</option>

                      </select>
                    </div>
             
            </div>
  
    </div>
    <div class="modal-footer">
            <button type="submit"  class="btn btn-primary px-4">Add</button>
  
    </div>
  </form>
  
  </ng-template>
  
  
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">Gender</th>
        <th scope="col">Grade</th>
        <th scope="col">School Code</th>
        <th scope="col">School Name</th>
        <!-- <th scope="col">Delete</th>
        <th scope="col">Edit</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row">{{student.Name}}</th>
        <th scope="row">{{student.DOB | date: 'dd/MM/yyyy'}}</th>
        <td scope="row">{{student.Gender}}</td>
        <td scope="row">{{student.Grade}}</td>
        <td scope="row">{{student.SchoolCode}}</td>
        <td scope="row">{{student.SchoolName}}</td>
        <!-- <td scope="row">
          <a class="btn text-danger" (click)="open(content)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
  
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Delete Student</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this student?</p>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn  decline" (click)="modal.close('Save click')">Decline</button>
              <button type="button" class="btn  delete" (click)="onDelete(student.Id)">Confirm</button>
      
            </div>
          </ng-template>
  
    
        </td>
        <td scope="row">
          <a class="btn" (click)="openEdit(student.Id)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
           </a>
    
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
