$blue:#0094ff;
$black: black;
$grayish: #DCDCDC;
$red: #442829;

h5{
    color:$blue;
    font-weight: bold;
    text-transform: none !important;
    margin: 0 auto;
}

.modal-title{
    width:80%;
    float: left;;
}

.title-panel{
    width:20%;
    float:right;
    // padding: 3%;
}
   

form-group label{
    position: absolute;
}

form-group input{
    color:$black;
margin-left: 9rem;
}
form-group select{
    color: $black;
    margin-left: 9rem;
}

img{
    width: 60%;
    //border-radius: 600%;
    //border-color: red;
}
#logo{
    padding-left: 7rem;
    padding-top: 55%;

}

.body{
    width: 80%;
    //background-color: $grayish;
    margin: 0 auto;
    
}
.modal-header,.modal-body
{
    width: 100%;
}


.sub-header{
    font-size: 12px;
}
.txt-header{
    color: $grayish;
    font-weight: bold;
   // padding-left: 5rem;
   // margin-left: 10%;
    margin-top: 12%;
}
.btn-txt{
    padding-left: 1rem;
    padding-right: 1rem;
}
.icon-txt{
    color: $grayish;
    padding-left: 1.5rem;
    font-size: 15px;


}
.decline{
    background-color: red;
    color: white;
}
.delete{
    background-color: green;
    color: white;
}
.fa-pencil-square-o{
    cursor: pointer;
}
.fa-trash-o{
    cursor: pointer;
}
.col-md .text{
    color: $grayish;
    font-size: 15px;
    display: inline;


}
.fa-address-card{
    font-size: 30px;
    color: $grayish;

}
.fa-share-alt{
    font-size: 30px;
    color: $grayish;

}
.fa-user-plus{
        font-size: 30px;
    color: $grayish;

}
.cont-info{
    padding-top: 14%;
    padding-left: 8%;
}
.col-xsm-12{
    padding: 2%;
}
.btn-primary{
    border-color: $red !important;
    background-color: $red !important;
    text-transform: uppercase;

}
.move-btn{
    padding: 50px;
}

@media screen and (max-width: 992px) {
    .img-bgrnd{
        background-color:$grayish;
        display: none;

       }
       .icon-txt{
        color: $blue;
        padding-left: 1.5rem;
        font-size: 15px;
    
    
    }
    .col-md .text{
        color: $blue;
        font-size: 15px;
        display: inline;
    
    
    }
    .fa-user-plus:before{
        color: $blue;

    }
    .fa-address-card:before{
        color: $blue;

    }
    .fa-share-alt:before{
        color: $blue;

    }

  }
  @media screen and (max-width:  414px) {
    .body{
        width: 100%;

    }
}
