<div class="container">
  <nav class="navbar navbar-expand-lg  fixed-top">
    <a class="navbar-brand" href="/home">
    </a>
    <button class="navbar-toggler navbar-light border-color" type="button" data-toggle="collapse" (click)="toggleNavbar()" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="!navbarOpen">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active"><span><i class="fa fa-home" aria-hidden="true"></i></span> Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="router-link-active"><span><i class="fa fa-graduation-cap" aria-hidden="true"></i>

            Student</span></a>
        </li>

        <li class="nav-item">
          <button id="login"  href="javascript:void(0);"  routerLinkActive="router-link-active" type="submit"
            class="btn">Login</button>
        </li>
        <li>
          <button id="signup"  href="javascript:void(0);"  routerLinkActive="router-link-active" type="submit"
            class="btn btn-primary">Register</button>
        </li>
 

      </ul>
    </div>
  </nav>
</div>
