$grayish: #777777;
$light-blue: #0094FF;
$white:#ffffff;
$red: #CA1219;
$gray: #484C4A;
$brown: #442829;
.navbar{
background-color: $white;
color:$brown;
border-bottom: 4px solid $brown;
}
.nav-link{
  color:$light-blue;

}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.router-link-active{
  -webkit-text-fill-color: $brown;

}
#signup{
    padding: 10px;
    font-size: 14px;
    background-color: $brown;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid $brown;


}
.fa-2x{
  color:$light-blue;
  font-size: 20px;

}
.decline{
  background-color: red;
  color: white;

}
.delete{
  background-color: green;
  color: white;
}
.ml-2{
  color:$light-blue;
  font-size: 20px;
}
#login{
    border: 2px solid $brown;
    padding: 10px;
    font-size: 14px;
    color:$brown;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;


}

a{
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: 500;
    color:$grayish;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
li{
    padding:10px;
}

.border-color {
    border: 1px solid #292c2f;
}

