<app-menu></app-menu>

<div class="body">

<div class="move-btn"></div>
  <button type="button" class="btn btn-primary" (click)="open(content)">
    Add Student
  </button>

  <br/>
  <br/>


  
  <ng-template #content let-modal>
    <form [formGroup]="myForm" (ngSubmit)="submitForm(); clicked = true;">
  
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Student Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

  
            <div class="input-group mb-4">
              <div class="input-group-prepend">
  
              </div>
              <input type="text" class="form-control" placeholder="Student Name" formControlName="name">
  
              
  
            </div>
            <div class="row">
            <div class="input-group mb-4">
              <input  type="date" class="form-control" placeholder="Course Description" formControlName="dob"/>
  
            </div>


          <div class="input-group mb-4">
            <select  formControlName="gender" class="form-control" >
              <option value="" disabled selected hidden>Gender...</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              </select>
            </div>
            <div class="input-group mb-4">
              <select  formControlName="grade" class="form-control" >
                <option value="" disabled selected hidden>Grade...</option>
                <option value="10">Grade 10</option>
                <option value="11">Grade 11</option>
                <option value="12">Grade 12</option>

                </select>
              </div>
            <div class="input-group mb-4">
                <select  formControlName="schoolCode" class="form-control" >
                  <option value="" disabled selected hidden>School Code...</option>
                  <option value="SKH">SKH</option>
                  <option value="PH">PH</option>
                  </select>
                </div>
                <div class="input-group mb-4">
                    <select  formControlName="schoolName" class="form-control" >
                      <option value="" disabled selected hidden>School Name...</option>
                      <option value="Sky High">Sky High</option>
                      <option value="Park High">Park High</option>
                      </select>
                    </div>
             
            </div>
  
    </div>
    <div class="modal-footer">
            <button type="submit"  class="btn btn-primary px-4">Update</button>
  
    </div>
  </form>
  
  </ng-template>
  
</div>
